<div ng-if="$ctrl.artist">
  <header class="artist-header">
    <div ng-if="$ctrl.artist.images.length > 0">
      <img class="artist-img img-thumbnail" ng-src="{{$ctrl.artist.images[0].url}}">
    </div>
    <h1>{{$ctrl.artist.name}}</h1>
    <p ng-if="$ctrl.artist.genres.length > 0">Genres: <span ng-repeat="genre in $ctrl.artist.genres">{{genre}}</span></p>
    <br>
  </header>
</div>


<div ng-if="$ctrl.albums">
  <div class="row _row">

    <div ng-repeat="album in $ctrl.albums.items" class="item">
      <div class="well">
        <img ng-if="album.images.length !== 0" width="150" ng-src="{{album.images[0].url}}" class="img-thumbnail">
        <img ng-if="album.images.length === 0" width="150" ng-src="http://placehold.it/350/060606/efefef?text=no+IMG" class="img-thumbnail">
        <hr>
        <h4><a href="#/album/{{album.id}}" >{{album.name}}</a></h4>
      </div>
    </div>

  </div>
</div>
