<h1>
  {{title}}
</h1>
<input type="text" placeholder="Search Music..." ng-change="$ctrl.searchMusic()" ng-model="$ctrl.searchStr">
<div ng-if="$ctrl.searchResult">
  {{$ctrl.searchResult.total}} FOUND
  <div class="row _row">

    <div ng-repeat="item in $ctrl.searchResult.items" class="item">
      <div class="well">
        <h4><a ng-link="['Artist', {id: item.id}]" >{{item.name}}</a></h4>
        <hr>
          <img ng-if="item.images.length !== 0" width="150" ng-src="{{item.images[0].url}}" class="img-thumbnail">
          <img ng-if="item.images.length === 0" width="150" ng-src="http://placehold.it/350/060606/efefef?text=no+IMG" class="img-thumbnail">
        <hr>
        <h5>
          <span >Genre: </span>
          <span ng-repeat="genre in item.genres">{{genre}}</span></h5>
      </div>
    </div>

  </div>
</div>
